*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1757214163966.log
/.idea/git_toolbox_prj.xml
/.kotlin/errors/errors-1757264716979.log
/.kotlin/sessions/kotlin-compiler-9595242771260543893.salive
/.kotlin/sessions/kotlin-compiler-7853381810772336704.salive
/.kotlin/sessions/kotlin-compiler-6660111042159838741.salive
/app/google-services.json

.ideaz/
