<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- The camera, our window into the world of physical keys. -->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- The Watcher's voice, a notification. Required for Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Permission to consult the master archives. -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- Permission for the Poltergeist to manifest. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Permission for services to run in the foreground -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Permission for services to run with special use foreground service type -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />


    <application
        android:name=".BarcodeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Barcodencrypt"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The Watcher, forever vigilant. -->
        <service
            android:name=".services.MessageDetectionService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:foregroundServiceType="specialUse"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!-- The Poltergeist's heart. -->
        <service
            android:name=".services.OverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse"/>

    </application>

</manifest>